<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.hxd.fendbzbuys">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/yueyue_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".MyApplication"
        android:theme="@style/AppTheme">

        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".moduler.shudetail_moduler.ShuDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".moduler.shumulu_moduler.ShuMuluActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".moduler.read_moduler.ReadActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".moduler.sousu.SousuoActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".moduler.fenlei_detail_moduler.FenLeiDetailActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />
        <activity android:name=".moduler.mianze_module.MianzeActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            />

        <receiver android:name=".receiver.NetworkConnectChangedReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
            </intent-filter>
            </receiver>
        <service android:name="com.hxd.fendbzbuys.receiver.MyPushIntentService" />

        <meta-data android:value="59a5443d734be47ecf000948" android:name="UMENG_APPKEY"/>
        <meta-data android:value="Channel ID" android:name="UMENG_CHANNEL"/>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="613f0b764400c43751239520202d7e94">
        </meta-data>
    </application>

</manifest>